   *{
            background-color: rgb(208, 16, 112);
    
        }
/* 
        body{
            height:300px;
            width:300px;
            margin:auto;
            background-color: rgb(39, 32, 254);

        } */
        #x1{
            background-color: antiquewhite;
        }